@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: #333333;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "Chivo", sans-serif;
	color: #ffffff;
}

#gameboard {
	display: grid;
	grid-template-columns: repeat(10, 4vw);
	grid-template-rows: repeat(10, 4vw);
	background-image: url("/assets/img/floor.png");
	background-size: 50px;
}

#gameboard>div {
	height: 4vw;
	width: 4vw;

	background-repeat: no-repeat;
	background-size: cover;
}

.crate {
	background-image: url("/assets/img/crate.png");
}

.wall {
	background-image: url("/assets/img/wall2.png");
}

.target {
	background-image: url("/assets/img/target.png");
}

.good {
	background-image: url("/assets/img/good_crate.png");
}

/* Le fond quand y'a le modal */
.modal-background {
	display: none;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	font-family: "Chivo", sans-serif;
	background-color: #292929;
	padding: 20px;
	border: 1px solid #2d2d2d;
	width: 70%;
	min-height: 70%;
	height: fit-content;
}

.modal-header {
	display: flex;
	padding-left: 5%;
	padding-right: 5%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* Contenu du modal */
.modal-content {
	padding-left: 5%;
	padding-right: 5%;
}

.change-key {
	display: flex;
	flex-direction: row;
	padding-left: 5%;
	padding-right: 5%;
	justify-content: space-between;
	align-items: center;
}

.change-key > h4 {
	width: 15%;
}

.text:hover {
	cursor: pointer;
}

.defaultButton {
	height: fit-content;
	width: fit-content;
}
/* Bouton de fermeture */
.close {
	color: #FF4500;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #8B0000;
	text-decoration: none;
	cursor: pointer;
}